---
const { post, href } = Astro.props;
---
<a class="card" href={href}>
  <div class="card__body">
    <div class="eyebrow">{post.data.date.toLocaleDateString('ja-JP')}</div>
    <h3>{post.data.title}</h3>
    <p>{post.data.excerpt}</p>
  </div>
</a>
